.footer {
  width: 100%;
  /* border: 1px solid black; */
}
.footerLogo {
  width: 30%;
  margin: 30px auto;
}
.footerLogoImg {
  width: 100%;
}
.footerFacebook {
  width: 5%;
  margin: 0px auto;
}
.footerfbImg {
  width: 100%;
}
.footerigImg {
  width: 100%;
}
.footerIG {
  width: 5%;
  margin: 0px auto;
}
